@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

html {
    font-size: 1rem; /* 設置一個合適的字體大小 */
}

.top-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;

    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
